*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    color: #666666d0;
    font-weight: 500;
}
.logo:hover{
    color: #000000d0;  font-weight: 500;
}
#nav-item{
    color: #2b98ff;
    font-size: 1.5rem;
}
.main-part{
    background-color: #e9e7e754;
    height: 88vh;
}
.box{
    position: absolute;
    width: 100%;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}
.box-header{
    margin-left: 5rem;
}
.search-item{
    justify-content: flex;
}
.box-input{
    margin-left: 5rem;
    padding: 5px;
    border-radius: 5px;
    background: #fffffff6;
    cursor: pointer;
}

form{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.form-control{
        width:80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e9e7e742;
        border: none;
}
.form-control:hover{
    background-color:#e9e7e7b2 ;
}

::placeholder{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
